In [29]:
import os
from urllib.parse import quote_plus
# Create SQLAlchemy engine
from sqlalchemy import create_engine

db_user = os.environ.get("db_user")
db_password = os.environ.get("db_password")
db_host = os.environ.get("db_host")
db_name = os.environ.get("db_name")
connection_string = f'mssql+pymssql://{db_user}:{quote_plus(db_password)}@{db_host}/{db_name}'

#connection_string = f'mssql+pymssql://{db_user}:{db_password}@{db_host}/{db_name}?driver=ODBC+Driver+17+for+SQL+Server'



engine = create_engine(connection_string)
connection = engine.connect()
#db_password = quote_plus(db_password)

In [30]:
# Execute query and return results as DataFrame
from pandas import read_sql_query


result = read_sql_query("SELECT T0.DocEntry, T0.DocNum, T0.CardCode, T0.CardName, T0.DocDate, T0.DocTotal, T1.ItemCode, T1.Dscription, T1.Quantity, T1.Price, T1.LineTotal FROM ORDR T0 INNER JOIN RDR1 T1 ON T0.DocEntry = T1.DocEntry WHERE T0.DocEntry = 1;", connection)
connection.close()
print(result)

   DocEntry  DocNum CardCode       CardName    DocDate  DocTotal ItemCode  \
0         1       1   C20000  Norm Thompson 2011-01-10   18562.5   A00001
1         1       1   C20000  Norm Thompson 2011-01-10   18562.5   A00002
2         1       1   C20000  Norm Thompson 2011-01-10   18562.5   A00003
3         1       1   C20000  Norm Thompson 2011-01-10   18562.5   A00004
4         1       1   C20000  Norm Thompson 2011-01-10   18562.5   A00005

             Dscription  Quantity  Price  LineTotal
0    IBM Infoprint 1312       5.0  750.0     3750.0
1    IBM Infoprint 1222       5.0  375.0     1875.0
2    IBM Infoprint 1226       5.0  562.5     2812.5
3  HP Color Laser Jet 5       5.0  937.5     4687.5
4  HP Color Laser Jet 4       5.0  750.0     3750.0

In [21]:

cursor = conn.cursor()

try:
    cursor.execute("SELECT T0.DocNum, T0.DocDate, T1.ItemCode, T1.Dscription, T1.Quantity, T1.Price, T1.LineTotal FROM OPOR T0 INNER JOIN POR1 T1 ON T0.DocEntry = T1.DocEntry WHERE T0.DocDate >= DATEADD(MONTH, -1, GETDATE())")

    # Fetch and print the results
    for row in cursor.fetchall():
        print(row)

    # Optionally, if you don't need to fetch the results, you can consume them or cancel
    # cursor.fetchall() or cursor.cancel()

finally:
    cursor.close()  # Ensure the cursor is closed when done

Error: ('HY000', '[HY000] [Microsoft][ODBC Driver 17 for SQL Server]Connection is busy with results for another command (0) (SQLExecDirectW)')